# PostgreSQL
POSTGRES_DB=baza_db
POSTGRES_USER=user
POSTGRES_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=baza
RABBITMQ_PASSWORD=

# Telegram Bot
TELEGRAM_TOKEN=

# Google Gemini AI
GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT=dummy-project
